
<br/>
<div class="container">

  <h4>KYC Writeup</h4>
  <div class="card">
    <div class="card-body">


        <form>
            <div class="alert alert-secondary">

                <div class="form-group row">
                    <label for="dropdownEntity" class="col-md-2 col-form-label">Given Name</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>
                    <label for="dropdownEntity" class="col-md-2 col-form-label">Surname</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>
                    <label for="dropdownEntity" class="col-md-2 col-form-label">DOB</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="dropdownEntity" class="col-md-2 col-form-label">Nationality</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>
                    <label for="dropdownEntity" class="col-md-4 col-form-label">Country of Domicile</label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="dropdownEntity" class="col-md-2 col-form-label">Tax Residence</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>
                    
                    
                    <div class="col-md-8">
                        
                    </div>
                </div>
            </div>

            <div class="alert alert-secondary">

                <div class="form-group row">
                    <label for="dropdownEntity" class="col-md-3 col-form-label">Identification Type</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>
                    <label for="dropdownEntity" class="col-md-3 col-form-label">Identification No.</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>
                   
                </div>

                <div class="form-group row">
                    <label for="dropdownEntity" class="col-md-2 col-form-label">Issue Country</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>
                    <label for="dropdownEntity" class="col-md-2 col-form-label">Issue Date</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>

                    <label for="dropdownEntity" class="col-md-2 col-form-label">Valid Till</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="selectEntity" ng-options="x for x in entityValues.values">
                        </select>
                    </div>
                
                </div>

                
            </div>



            <p class="text-right">
                <button type="button" class="btn btn-secondary">PREVIOUS</button>
                <button type="button" class="btn btn-secondary">SAVE AS DRAFT</button>
                <button type="button" class="btn btn-secondary">SAVE AND NEXT</button>
            </p>
          </form>
    </div>
  </div>

    

</div>